<h1>Products</h1>

<p>
  Download:
  <%= link_to "CSV", products_path(format: "csv") %> |
  <%= link_to "Excel", products_path(format: "xls") %>
</p>

<table id="products">
  <tr>
    <th>Product Name</th>
    <th>Release Date</th>
    <th>Price</th>
  </tr>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.released_at %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
</table>

<h2>Import Product </h2>
<%= form_tag import_products_path, multipart: true do %>
  <%= file_field_tag :file%>
  <%= submit_tag "Import" %>
<% end %>
# <% end %>





<%# @products.each do |product| %>
  <tr>
    <td><%= link_to product.name, product %></td>
    <td><%= product.category.name %></td>
    <td class="price"><%= number_to_currency(product.price) %></td>
    <td><%= link_to "edit", edit_product_path(product) %></td>
  </tr>
<% end %>

<% end%>